.contact {
    height: 100vh;
    width: 100vw;
    position: relative;
    scroll-snap-align: start;
}

.contact__form {
    height: 40rem;
    width: 90%;
    max-width: 35rem;
    padding: 3rem 2rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem lightgray;
    border: 1px solid var(--color-green);
}

.contact__input, .contact__textarea {
    padding: 1.25rem;
    margin: .5rem 0;
    border-radius: .25rem;
    outline: none;
    border: none;
    border: 1px solid var(--color-light);
}

.contact__input:hover, .contact__textarea:hover, .contact__input:focus, .contact__textarea:focus {
    border: 1px solid var(--color-green);
}

.contact__textarea {
    height: 14rem;
}

.contact__submit {
    height: 3.5rem;
    background: #bcc6b3;
    border: 1px solid #00000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact__submit:hover {
    border: 1px solid var(--color-green);
    background: var(--color-green);
    color: var(--color-light);
}

@media only screen and (min-width: 768px) {
    .contact {
        width: 50vw;
    }
}