/* PROJECTS SECTION STYLES */

.projects {
    height: 100vh; 
    overflow-y: scroll;
    scroll-snap-align: start;
}

.projects-heading {
    padding-top: 1rem;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 60rem;
    margin: 0 auto;
}

.projects__list-item {
    width: 50%;
}

.projects__list-item-btn {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.1rem;
}

/* PROJECT CARD STYLES */

.project__card {
    background: #f2f2f2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* IMAGES */

.project__imgs {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.img {
    height: 7rem;
    width: 30%;
}

.img-1 {
    background: var(--color-blue);
}
.img-2 {
    background: var(--color-red);
}
.img-3 {
    background: var(--color-purple);
}

/* DESCRIPTIONS */

.project__desc-main, .project__details {
    border: 1px solid var(--color-med);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .25rem;
}

.project__desc, .project__tech, .project__links {
    margin-bottom: 1rem;
}

.project__name {
    align-self: center;
}

.project__tech {
    font-size: .85rem;
}

.project__link {
    margin: 0 1rem;
}


@media only screen and (min-width: 768px) {

    /* PROOJECT SECTION STYLES */

    .projects-heading {
        margin-bottom: 10vh;
    }

    .projects__list {
        flex-wrap: nowrap;
        max-width: 60rem;
    }
    
    .projects__list-item {
        width: 25%;
    }
    
    .projects__list-item-btn {
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        font-size: 1.1rem;
    }

    /* PROJECT CARD STYLES */

    .project__content {
        display: flex;
        flex-wrap: wrap;
        max-width: 60rem;
    }

    /* IMAGES */

    .project__imgs {
        display: block;
        position: relative;
        width: 30%;
    }
    
    .img {
        height: 8rem;
        width: 11rem;
        position: relative;
    }
    
    .img-1 {
        bottom: -1rem;
    }
    .img-2 {
        left: 2rem;
    }
    .img-3 {
        top: -1rem;
    }

    /* DESCRIPTIONS */

    .project__desc-main {
        padding: 2rem;
        width: 70%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project__links {
        width: 100%;
        text-align: left;
        margin-top: 3rem;
        text-align: center;
    }
    
    .project__link {
        margin: 0 1rem;
    }
}