
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__name {
    font-size: clamp(3rem, 1.7647rem + 5.6471vw, 6rem);
    margin-bottom: 0;
}

.header__title {
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
	header {
        padding: 2rem;
        align-items: flex-start;
    }
}