

/* #root {
} */


button, a {
  background: none;
  border: none;
}

button:hover, a:hover {
  cursor: pointer;
  color: var(--color-red);
}

button:hover svg, a:hover svg {
  color: var(--color-red);
}

