:root {
  --color-light: #f7f7f7;
  --color-med: #bfbfbf;
  --color-dark: #454545;
  --color-red: #f66868;
  --color-green: #99cb70;
  --color-blue: #78ccdd;
  --color-purple: #8f92e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: var(--color-dark);
  background-color: var(--color-light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}
body {
  font-family: 'Cantarell', sans-serif;
}

