:root {
  --color-light: #f7f7f7;
  --color-med: #bfbfbf;
  --color-dark: #454545;
  --color-red: #f66868;
  --color-green: #99cb70;
  --color-blue: #78ccdd;
  --color-purple: #8f92e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: var(--color-dark);
  background-color: var(--color-light);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Cantarell', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  padding: .5rem;
  font-size: 3rem;
}

input, textarea {
  font-family: 'Cantarell', sans-serif;
  font-size: 1rem;
}

input::placeholder, textarea::placeholder {
  color: var(--color-dark);
}

input:hover, textarea:hover {
  cursor: pointer;
}

main {
  padding: 0;
  margin: 0;
}

.subsection {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .subsection {
    flex-direction: row;
  }
}